.main-search-content-search-bottom {
    grid-column-start: 1;
    grid-row: 2;
}

.main-search-content-search-input-date-searchrange {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    @media (orientation: portrait) {
        flex-direction: column
    }
}

.main-search-content-search-bottom input {
    width: 142px;
    height: 41px;
    background-image: url("../../../../../../media/resources/select-arrow-open.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 14px;
    font-family: "Inter";
    font-size: 14px;
    letter-spacing: 0.42px;
    @media (orientation: portrait) {
        width: 299px;
        height: 41px;
    }
}

.main-search-content-search-bottom input:hover {
    cursor: text;
}

.main-search-content-search-bottom .date-error {
    width: 372px;
    text-align: center;
    color: var(--color-red);
    font-size: 14px;
    margin: 7px 0 0;
    @media (orientation: portrait) {
        width: 335px;
        margin: 5px 0 0;
    }
}

::-webkit-calendar-picker-indicator {
    background-image: url("../../../../../../media/resources/select-arrow-open.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 14px;
}

::-webkit-calendar-picker-indicator:focus {
    background-image: url("../../../../../../media/resources/select-arrow-close.svg");
}

::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}